Importing Libraries

In [1]:
import pandas as pd
import numpy as np

Importing the Data

In [2]:
df = pd.read_csv('car_data_bulk.csv', low_memory=False)
df.set_index('bulk_id')

,car_reg_no,vehicle_speed,heading,distance,altitude,o_s1_b1_voltage,o_s2_b2_voltage,o_s1_current,calculated_engine_load,engine_rpm,...,egr_error,absolute_barometric_pressure,engine_coolant_temperature,intake_air_temperature,catalyst_temperature_b1_s1,catalyst_temperature_b1_s2,ambient_air_temperature,time_stamp,latitude,longitude
bulk_id,,,,,,,,,,,,,,,,,,,,,
1,45.0,80.0,0.0,0.0,-40.0,0,0,0,0,0.0,...,0.0000,0,0.0,0.0,NaN,0.0,0.0,0,2020-08-15,24.8828713
2,45.0,80.0,0.0,0.0,-40.0,0,0,0,0,0.0,...,0.0000,0,0.0,0.0,NaN,0.0,0.0,0,2020-08-15,24.8828713
3,45.0,80.0,0.0,0.0,-40.0,0,0,0,0,0.0,...,0.0000,0,0.0,0.0,NaN,0.0,0.0,0,2020-08-15,24.8828713
4,45.0,80.0,0.0,0.0,-40.0,0,0,0,0,0.0,...,0.0000,0,0.0,0.0,NaN,0.0,0.0,0,2020-08-15,24.8828713
5,45.0,80.0,0.0,0.0,-40.0,0,0,0,0,0.0,...,0.0000,0,0.0,0.0,NaN,0.0,0.0,0,2020-08-15,24.8828713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4040506,176.0,86.0,0.0,NaN,0.0,NaN,0.6700,0.0000,100.0000,2252.0,...,50.1961,0.0000,84.0,34.0,NaN,NaN,NaN,2021-12-06 20:25:50,0.000000,0.000000
4040507,176.0,86.0,0.0,NaN,0.0,NaN,0.6700,0.0000,100.0000,2252.0,...,50.1961,0.0000,84.0,34.0,NaN,NaN,NaN,2021-12-06 20:25:52,0.000000,0.000000
4040508,176.0,86.0,0.0,NaN,0.0,NaN,0.6700,0.0000,100.0000,2252.0,...,50.1961,0.0000,84.0,34.0,NaN,NaN,NaN,2021-12-06 20:25:54,0.000000,0.000000
4040509,176.0,86.0,0.0,NaN,0.0,NaN,0.6700,0.0000,100.0000,2252.0,...,50.1961,0.0000,84.0,34.0,NaN,NaN,NaN,2021-12-06 20:25:56,0.000000,0.000000
4040510,176.0,86.0,0.0,NaN,0.0,NaN,0.6700,0.0000,100.0000,2252.0,...,50.1961,0.0000,84.0,34.0,NaN,NaN,NaN,2021-12-06 20:25:58,0.000000,0.000000

Filtering the car reg no. 113 data

In [3]:
df = df.loc[df['car_reg_no'] == 113]

Dropping the null columns

In [4]:
df = df.dropna(axis=1, how='all') #dropping the columns which contains all null values

# #repeated columns which one to keep?
print(df['o_s1_b1_fuel_air_equivalence_ratio'].describe())
print(df['o_s1_b1_fuelair_equivalence_ratio'].describe()) #contains all zeros so removing it

count    865803.000000
mean         14.244530
std           0.858923
min           6.725500
25%          13.848100
50%          14.700000
75%          14.700000
max          15.234700
Name: o_s1_b1_fuel_air_equivalence_ratio, dtype: float64
count    865429.0
mean          0.0
std           0.0
min           0.0
25%           0.0
50%           0.0
75%           0.0
max           0.0
Name: o_s1_b1_fuelair_equivalence_ratio, dtype: float64

Dropping repeated column

In [5]:
df = df.drop('o_s1_b1_fuelair_equivalence_ratio',axis=1)

Removing null values

In [6]:
print(df.isna().sum())

#finding the pattern in null values of time_stamp
print(df[df['time_stamp'].isna()])

cond = df['time_stamp'].isna()

df.loc[cond ,'time_stamp'] = df.loc[cond , 'longitude'] #observed that when time_stamp was null, time_stamp was actually present in the longitude column so replacing it

df.loc[cond, 'longitude'] = np.nan

df.dropna(subset=['time_stamp'])

df['engine_rpm'] = df['engine_rpm'].fillna(0) #filling the null values with zero as we observed that when engine_rpm was null vehicle_speed was 0/null and other values were also null, so the engine would be turned off

df[df['engine_rpm']==0] = df[df['engine_rpm']==0].fillna(0) #when engine is turned off all other components are also turned off

print('Data after filling the engine off readings')
print(df.isna().sum())

bulk_id                                    0
car_reg_no                                 0
vehicle_speed                              1
heading                                    1
altitude                                   1
o_s2_b2_voltage                       105675
o_s1_current                           79110
calculated_engine_load                 82489
engine_rpm                             82860
spark_advance                          83675
absolute_load_value                    84298
throttle_position                      84409
relative_throttle_position             84544
absolute_throttle_position             84729
ap_pos_d                               84962
ap_pos_e                               85179
commanded_evaporative_purge            85333
o_s1_b1_fuel_air_equivalence_ratio     85659
short_term_fuel_trim_b1                32486
long_term_fuel_trim_b1                 32486
intake_manifold_absolute_pressure     951452
mass_air_flow_rate                    111094
absolute_barometric_pressure           87482
engine_coolant_temperature              7081
intake_air_temperature                  8318
catalyst_temperature_b1_s1              8329
catalyst_temperature_b1_s2             51889
ambient_air_temperature                 8329
time_stamp                             43561
latitude                               43561
longitude                                  1
dtype: int64
        bulk_id  car_reg_no  vehicle_speed  heading  altitude o_s2_b2_voltage  \
196607   196608       113.0            NaN      NaN       NaN             NaN
766290   766291       113.0            0.0      0.0       0.0          0.0150
766291   766292       113.0            0.0      0.0       0.0          0.0150
766292   766293       113.0           32.0      0.0       0.0          0.0150
766293   766294       113.0           28.0      0.0       0.0          0.0150
...         ...         ...            ...      ...       ...             ...
862901   862902       113.0            0.0      0.0       0.0             NaN
862902   862903       113.0            0.0      0.0       0.0             NaN
862903   862904       113.0            0.0      0.0       0.0             NaN
862904   862905       113.0            0.0      0.0       0.0             NaN
862905   862906       113.0            0.0      0.0       0.0             NaN

       o_s1_current calculated_engine_load  engine_rpm  spark_advance  ...  \
196607          NaN                    NaN         NaN            NaN  ...
766290          NaN                    NaN         NaN            NaN  ...
766291       0.0000                69.4118      1209.0        37.6471  ...
766292       0.0000                31.3725      1299.0        65.4902  ...
766293       0.0000                30.5882      1304.0        65.8824  ...
...             ...                    ...         ...            ...  ...
862901          NaN                    NaN         NaN            NaN  ...
862902          NaN                    NaN         NaN            NaN  ...
862903          NaN                    NaN         NaN            NaN  ...
862904          NaN                    NaN         NaN            NaN  ...
862905          NaN                    NaN         NaN            NaN  ...

       mass_air_flow_rate absolute_barometric_pressure  \
196607                NaN                          NaN
766290                NaN                          NaN
766291               2.78                      99.0000
766292               2.78                      99.0000
766293               2.84                      99.0000
...                   ...                          ...
862901                NaN                          NaN
862902                NaN                          NaN
862903                NaN                          NaN
862904                NaN                          NaN
862905                NaN                          NaN

       engine_coolant_temperature  intake_air_temperature  \
196607                        NaN                     NaN
766290                        0.0                     0.0
766291                        0.0                     0.0
766292                       44.0                    37.0
766293                       45.0                    37.0
...                           ...                     ...
862901                        0.0                     0.0
862902                        0.0                     0.0
862903                        0.0                     0.0
862904                        0.0                     0.0
862905                        0.0                     0.0

       catalyst_temperature_b1_s1 catalyst_temperature_b1_s2  \
196607                        NaN                        NaN
766290                        0.0                        NaN
766291                        0.0                        NaN
766292                        0.0                        NaN
766293                        0.0                        NaN
...                           ...                        ...
862901                        0.0                        NaN
862902                        0.0                        NaN
862903                        0.0                        NaN
862904                        0.0                        NaN
862905                        0.0                        NaN

       ambient_air_temperature  time_stamp latitude            longitude
196607                     NaN         NaN      NaN                  NaN
766290                     0.0         NaN      NaN  2021-06-17 21:04:48
766291                     0.0         NaN      NaN  2021-06-17 21:04:50
766292                    32.0         NaN      NaN  2021-06-17 21:04:52
766293                    32.0         NaN      NaN  2021-06-17 21:04:54
...                        ...         ...      ...                  ...
862901                     0.0         NaN      NaN  2021-07-05 09:10:57
862902                     0.0         NaN      NaN  2021-07-05 09:11:00
862903                     0.0         NaN      NaN  2021-07-05 09:11:03
862904                     0.0         NaN      NaN  2021-07-05 09:11:05
862905                     0.0         NaN      NaN  2021-07-05 09:11:08

[43561 rows x 31 columns]
Data after filling the engine off readings
bulk_id                                    0
car_reg_no                                 0
vehicle_speed                              0
heading                                    0
altitude                                   0
o_s2_b2_voltage                        23610
o_s1_current                             108
calculated_engine_load                     0
engine_rpm                                 0
spark_advance                            798
absolute_load_value                     1407
throttle_position                       1504
relative_throttle_position              1640
absolute_throttle_position              1825
ap_pos_d                                2057
ap_pos_e                                2271
commanded_evaporative_purge             2422
o_s1_b1_fuel_air_equivalence_ratio      2746
short_term_fuel_trim_b1                23598
long_term_fuel_trim_b1                 23598
intake_manifold_absolute_pressure     860402
mass_air_flow_rate                     27897
absolute_barometric_pressure            4507
engine_coolant_temperature                 0
intake_air_temperature                     0
catalyst_temperature_b1_s1                10
catalyst_temperature_b1_s2             39435
ambient_air_temperature                   10
time_stamp                                 0
latitude                               39425
longitude                              39425
dtype: int64

Standardizing Time Stamp Formats

In [7]:
def generate_interval(data):
    time = data['time_stamp']
    n = len(time)
    base_time = pd.to_datetime(time.iloc[0], format='%m/%d/%Y %H:%M') + pd.Timedelta(seconds=1)
    intervals = [base_time + pd.Timedelta(seconds=i * 2) for i in range(n)]

    data['time_stamp'] = intervals
    return data

df_seg1 = df.iloc[0:707198].copy()
df_seg2 = df.iloc[707198:950133].copy()
df_seg3 = df.iloc[950133:].copy()


print('Segment 1: ',df_seg1['time_stamp'].unique())
print('Segment 2: ',df_seg2['time_stamp'].unique())
print('Segment 3: ',df_seg3['time_stamp'].unique())

df_seg1['time_stamp'] = pd.to_datetime(df_seg1['time_stamp'])
df_seg3['time_stamp'] = pd.to_datetime(df_seg3['time_stamp'])

df_seg2 = df_seg2.groupby('time_stamp').apply(generate_interval)
df_seg2 = df_seg2.reset_index(level = 'time_stamp', drop=True)
print(df_seg2.head(10))

df = pd.concat([df_seg1,df_seg2,df_seg3])

Segment 1:  [0 '2021-02-09T08:00:16' '2021-02-09T08:00:18' ... '2022-01-21 13:30:55'
 '2022-01-21 13:30:57' '2022-01-21 13:30:59']
Segment 2:  ['10/10/2021 6:25' '10/10/2021 6:26' '10/10/2021 6:27' '10/10/2021 6:28'
 '10/10/2021 6:29' '10/10/2021 6:30' '10/10/2021 6:31' '10/10/2021 6:32'
 '10/10/2021 6:33' '10/10/2021 6:34' '10/10/2021 6:35' '10/10/2021 6:36'
 '10/10/2021 6:37' '10/10/2021 6:38' '10/10/2021 6:39' '10/10/2021 6:40'
 '10/10/2021 6:41' '10/10/2021 6:42' '10/10/2021 6:43' '10/10/2021 6:44'
 '10/10/2021 6:45' '10/10/2021 6:46' '10/10/2021 6:47' '10/10/2021 6:48'
 '10/10/2021 6:49' '10/10/2021 6:50' '10/10/2021 6:51' '10/10/2021 6:52'
 '10/10/2021 6:53' '10/10/2021 6:54' '10/10/2021 6:55' '10/10/2021 6:56'
 '10/10/2021 6:57' '10/10/2021 6:58' '10/10/2021 6:59' '10/10/2021 7:00'
 '10/10/2021 7:01' '10/10/2021 7:02' '10/10/2021 7:03' '10/10/2021 7:04'
 '10/10/2021 7:05' '10/10/2021 7:06' '10/10/2021 7:07' '10/10/2021 7:08'
 '10/10/2021 7:09' '10/10/2021 7:10' '10/10/2021 7:11' '10/10/2021 7:12'
 '10/10/2021 7:13' '10/10/2021 7:14' '10/10/2021 7:15' '10/10/2021 7:16'
 '10/10/2021 7:17' '10/10/2021 7:18' '10/10/2021 7:19' '10/10/2021 7:20'
 '10/10/2021 7:21' '10/10/2021 7:22' '10/10/2021 7:23' '10/10/2021 7:24'
 '10/10/2021 7:25' '10/10/2021 7:26' '10/10/2021 7:27' '10/10/2021 7:28'
 '10/10/2021 7:29' '10/10/2021 7:30' '10/10/2021 7:31' '10/10/2021 7:32'
 '10/10/2021 7:33' '10/10/2021 7:34' '10/10/2021 7:35' '10/10/2021 7:36'
 '10/10/2021 7:37' '10/10/2021 7:38' '10/10/2021 7:39' '10/10/2021 7:40'
 '10/10/2021 7:41' '10/10/2021 7:42' '10/10/2021 7:43' '10/10/2021 7:44'
 '10/10/2021 7:45' '10/10/2021 7:46' '10/10/2021 7:47' '10/10/2021 7:48'
 '10/10/2021 7:49' '10/10/2021 7:50' '10/10/2021 7:51' '10/10/2021 7:52'
 '10/10/2021 7:53' '10/10/2021 7:54' '10/10/2021 7:55' '10/10/2021 7:56'
 '10/10/2021 7:57' '10/10/2021 7:58' '10/10/2021 7:59' '10/10/2021 8:00'
 '10/10/2021 8:01' '10/10/2021 8:02' '10/10/2021 8:03' '10/10/2021 8:04'
 '10/10/2021 8:05' '10/10/2021 8:06' '10/10/2021 8:07' '10/10/2021 8:08'
 '10/10/2021 8:09' '10/10/2021 8:16' '10/10/2021 8:17' '10/10/2021 8:18'
 '10/10/2021 8:19' '10/10/2021 8:20' '10/10/2021 8:21' '10/10/2021 8:22'
 '10/10/2021 8:23' '10/10/2021 8:24' '10/10/2021 8:25' '10/10/2021 8:26'
 '10/10/2021 8:27' '10/10/2021 8:28' '10/10/2021 8:29' '10/10/2021 8:30'
 '10/10/2021 8:31' '10/10/2021 8:32' '10/10/2021 8:33' '10/10/2021 8:34'
 '10/10/2021 8:35' '10/10/2021 8:36' '10/10/2021 8:37' '10/10/2021 8:38'
 '10/10/2021 8:39' '10/10/2021 8:40' '10/10/2021 8:41' '10/10/2021 8:42'
 '10/10/2021 8:43' '10/10/2021 8:44' '10/10/2021 8:45' '10/10/2021 8:46'
 '10/10/2021 8:47' '10/10/2021 8:48' '10/10/2021 8:49' '10/10/2021 8:50'
 '10/10/2021 8:51' '10/10/2021 8:52' '10/10/2021 8:53' '10/10/2021 8:54'
 '10/10/2021 8:55' '10/10/2021 8:56' '10/10/2021 8:57' '10/10/2021 8:58'
 '10/10/2021 8:59' '10/10/2021 9:00' '10/10/2021 9:01' '10/10/2021 9:02'
 '10/10/2021 9:03' '10/10/2021 9:04' '10/10/2021 9:05' '10/10/2021 9:06'
 '10/10/2021 9:07' '10/10/2021 9:08' '10/10/2021 9:09' '10/10/2021 9:10'
 '10/10/2021 9:11' '10/10/2021 9:12' '10/10/2021 9:13' '10/10/2021 9:14'
 '10/10/2021 9:15' '10/10/2021 9:16' '10/10/2021 9:17' '10/10/2021 9:18'
 '10/10/2021 9:20' '10/10/2021 9:21' '10/10/2021 9:22' '10/10/2021 9:23'
 '10/10/2021 9:24' '10/10/2021 9:25' '10/10/2021 9:26' '10/10/2021 9:27'
 '10/10/2021 9:28' '10/10/2021 9:29' '10/10/2021 9:30' '10/10/2021 9:31'
 '10/10/2021 9:32' '10/10/2021 9:33' '10/10/2021 9:34' '10/10/2021 9:35'
 '10/10/2021 9:36' '10/10/2021 9:37' '10/10/2021 9:38' '10/10/2021 9:39'
 '10/10/2021 9:40' '10/10/2021 9:42' '10/10/2021 9:43' '10/10/2021 9:44'
 '10/10/2021 9:45' '10/10/2021 9:46' '10/10/2021 9:47' '10/10/2021 9:48'
 '10/10/2021 9:49' '10/10/2021 9:50' '10/10/2021 9:51' '10/10/2021 9:52'
 '10/10/2021 9:53' '10/10/2021 9:54' '10/10/2021 10:00' '10/10/2021 10:01'
 '10/10/2021 10:02' '10/10/2021 10:03' '10/10/2021 10:04'
 '10/10/2021 10:27' '10/10/2021 10:28' '10/10/2021 10:29'
 '10/10/2021 10:30' '10/10/2021 10:31' '10/10/2021 10:32'
 '10/10/2021 10:33' '10/10/2021 10:34' '10/10/2021 10:35'
 '10/10/2021 10:36' '10/10/2021 10:37' '10/10/2021 10:38'
 '10/10/2021 10:39' '10/10/2021 10:40' '10/10/2021 10:41'
 '10/10/2021 10:42' '10/10/2021 10:43' '10/10/2021 10:44'
 '10/10/2021 10:45' '10/10/2021 10:46' '10/10/2021 10:47'
 '10/10/2021 11:08' '10/10/2021 11:09' '10/10/2021 11:10'
 '10/10/2021 11:11' '10/10/2021 11:12' '10/10/2021 11:13'
 '10/10/2021 11:14' '10/10/2021 11:15' '10/10/2021 11:16'
 '10/10/2021 11:17' '10/10/2021 11:18' '10/10/2021 11:19'
 '10/10/2021 11:20' '10/10/2021 11:21' '10/10/2021 11:22'
 '10/10/2021 11:23' '10/10/2021 11:24' '10/10/2021 11:25'
 '10/10/2021 11:26' '10/10/2021 11:27' '10/10/2021 11:28'
 '10/10/2021 11:29' '10/10/2021 11:30' '10/10/2021 11:31'
 '10/10/2021 11:35' '10/10/2021 11:36' '10/10/2021 11:37'
 '10/10/2021 11:38' '10/10/2021 11:39' '10/10/2021 11:40'
 '10/10/2021 11:41' '10/10/2021 11:42' '10/10/2021 11:43'
 '10/10/2021 11:44' '10/10/2021 11:45' '10/10/2021 11:46'
 '10/10/2021 11:47' '10/10/2021 11:48' '10/10/2021 11:49'
 '10/10/2021 11:50' '10/10/2021 11:51' '10/10/2021 11:52'
 '10/10/2021 11:53' '10/10/2021 11:54' '10/10/2021 11:55'
 '10/10/2021 11:56' '10/10/2021 11:57' '10/10/2021 11:58'
 '10/10/2021 11:59' '10/10/2021 12:00' '10/10/2021 12:01'
 '10/10/2021 12:02' '10/10/2021 12:03' '10/10/2021 12:04'
 '10/10/2021 12:05' '10/10/2021 12:06' '10/10/2021 12:07'
 '10/10/2021 12:08' '10/10/2021 12:09' '10/10/2021 12:10'
 '10/10/2021 12:11' '10/10/2021 12:12' '10/10/2021 12:13'
 '10/10/2021 12:14' '10/10/2021 12:15' '10/10/2021 12:16'
 '10/10/2021 12:17' '10/10/2021 12:18' '10/10/2021 12:19'
 '10/10/2021 12:20' '10/10/2021 12:21' '10/10/2021 12:22'
 '10/10/2021 12:23' '10/10/2021 12:24' '10/10/2021 12:25'
 '10/10/2021 12:26' '10/10/2021 12:27' '10/10/2021 12:28'
 '10/10/2021 12:29' '10/10/2021 12:30' '10/10/2021 12:31'
 '10/10/2021 12:32' '10/10/2021 12:33' '10/10/2021 12:34'
 '10/10/2021 12:35' '10/10/2021 12:36' '10/10/2021 12:37'
 '10/10/2021 12:38' '10/10/2021 12:39' '10/10/2021 12:40'
 '10/10/2021 12:41' '10/10/2021 12:42' '10/10/2021 12:43'
 '10/10/2021 12:44' '10/10/2021 12:45' '10/10/2021 12:46'
 '10/10/2021 12:47' '10/10/2021 12:48' '10/10/2021 12:49'
 '10/10/2021 12:50' '10/10/2021 12:51' '10/10/2021 12:52'
 '10/10/2021 12:53' '10/10/2021 12:54' '10/10/2021 12:55'
 '10/10/2021 12:56' '10/10/2021 12:57' '10/10/2021 12:58'
 '10/10/2021 12:59' '10/10/2021 13:00' '10/10/2021 13:05'
 '10/10/2021 13:06' '10/10/2021 13:07' '10/10/2021 13:08'
 '10/10/2021 13:09' '10/10/2021 13:10' '10/10/2021 13:11'
 '10/10/2021 13:12' '10/10/2021 13:13' '10/10/2021 13:14'
 '10/10/2021 13:15' '10/10/2021 13:16' '10/10/2021 13:17'
 '10/10/2021 13:18' '10/10/2021 13:19' '10/10/2021 13:20'
 '10/10/2021 13:21' '10/10/2021 13:22' '10/10/2021 13:23'
 '10/10/2021 13:24' '10/10/2021 13:25' '10/10/2021 13:26'
 '10/10/2021 13:27' '10/10/2021 13:28' '10/10/2021 13:29'
 '10/10/2021 13:30' '10/10/2021 13:31' '10/10/2021 13:32'
 '10/10/2021 13:33' '10/10/2021 13:34' '10/10/2021 13:35'
 '10/10/2021 13:36' '10/10/2021 13:37' '10/10/2021 13:38'
 '10/10/2021 13:39' '10/10/2021 13:40' '10/10/2021 13:41'
 '10/10/2021 13:42' '10/10/2021 13:43' '10/10/2021 13:44'
 '10/10/2021 13:45' '10/10/2021 13:46' '10/10/2021 13:47'
 '10/10/2021 13:48' '10/10/2021 13:49' '10/10/2021 13:50'
 '10/10/2021 13:51' '10/10/2021 13:52' '10/10/2021 13:53'
 '10/10/2021 13:54' '10/10/2021 13:55' '10/10/2021 13:56'
 '10/10/2021 13:57' '10/10/2021 13:58' '10/10/2021 13:59'
 '10/10/2021 14:00' '10/10/2021 14:01' '10/10/2021 14:02'
 '10/10/2021 14:03' '10/10/2021 14:04' '10/10/2021 14:05'
 '10/10/2021 14:06' '10/10/2021 14:07' '10/10/2021 14:08'
 '10/10/2021 14:09' '10/10/2021 14:10' '10/10/2021 14:11'
 '10/10/2021 14:12' '10/10/2021 14:13' '10/10/2021 14:14'
 '10/10/2021 14:15' '10/10/2021 14:16' '10/10/2021 14:17'
 '10/10/2021 14:18' '10/10/2021 14:19' '10/10/2021 14:20'
 '10/10/2021 14:21' '10/10/2021 14:22' '10/10/2021 14:23'
 '10/10/2021 14:27' '10/10/2021 15:10' '10/10/2021 15:11'
 '10/10/2021 15:23' '10/10/2021 15:24' '10/10/2021 15:25'
 '10/10/2021 15:26' '10/10/2021 15:27' '10/10/2021 15:28'
 '10/10/2021 15:29' '10/10/2021 15:30' '10/10/2021 15:31'
 '10/10/2021 15:32' '10/10/2021 15:33' '10/10/2021 15:34'
 '10/10/2021 15:35' '10/10/2021 15:36' '10/10/2021 15:37'
 '10/10/2021 15:38' '10/10/2021 15:39' '10/10/2021 15:40'
 '10/10/2021 15:41' '10/10/2021 15:42' '10/10/2021 15:43'
 '10/10/2021 15:44' '10/10/2021 15:45' '10/10/2021 15:46'
 '10/10/2021 15:47' '10/10/2021 15:48' '10/10/2021 15:49'
 '10/10/2021 15:50' '10/10/2021 15:51' '10/10/2021 15:52'
 '10/10/2021 15:53' '10/10/2021 15:54' '10/10/2021 15:55'
 '10/10/2021 15:56' '10/10/2021 15:57' '10/10/2021 15:58'
 '10/10/2021 15:59' '10/10/2021 16:00' '10/10/2021 16:01'
 '10/10/2021 16:02' '10/10/2021 16:03' '10/10/2021 16:04'
 '10/10/2021 16:05' '10/10/2021 16:06' '10/10/2021 16:07'
 '10/10/2021 16:08' '10/10/2021 16:09' '10/10/2021 16:10'
 '10/10/2021 16:11' '10/10/2021 16:12' '10/10/2021 16:13'
 '10/10/2021 16:14' '10/10/2021 16:15' '10/10/2021 16:16'
 '10/10/2021 16:17' '10/10/2021 16:18' '10/10/2021 16:19'
 '10/10/2021 16:20' '10/10/2021 16:21' '10/10/2021 16:22'
 '10/10/2021 16:23' '10/10/2021 16:24' '10/10/2021 16:25'
 '10/10/2021 16:26' '10/10/2021 16:27' '10/10/2021 16:28'
 '10/10/2021 16:29' '10/10/2021 16:30' '10/10/2021 16:31'
 '10/10/2021 16:32' '10/10/2021 16:33' '10/10/2021 16:34'
 '10/10/2021 16:35' '10/10/2021 16:36' '10/10/2021 16:37'
 '10/10/2021 16:38' '10/10/2021 16:39' '10/10/2021 16:40'
 '10/10/2021 16:41' '10/10/2021 16:42' '10/10/2021 16:43'
 '10/10/2021 16:44' '10/10/2021 16:45' '10/10/2021 16:46'
 '10/10/2021 16:47' '10/10/2021 16:48' '10/10/2021 16:49'
 '10/10/2021 16:50' '10/10/2021 16:51' '10/10/2021 16:52'
 '10/10/2021 16:53' '10/10/2021 16:54' '10/10/2021 16:55'
 '10/10/2021 17:00' '10/10/2021 17:01' '10/10/2021 17:02'
 '10/10/2021 17:03' '10/10/2021 17:04' '10/10/2021 17:05'
 '10/10/2021 17:06' '10/10/2021 17:07' '10/10/2021 17:08'
 '10/10/2021 17:09' '10/10/2021 17:10' '10/10/2021 17:11'
 '10/10/2021 17:12' '10/10/2021 17:13' '10/10/2021 17:14'
 '10/10/2021 17:15' '10/10/2021 17:16' '10/10/2021 17:17'
 '10/10/2021 17:18' '10/10/2021 17:19' '10/10/2021 17:20'
 '10/10/2021 17:21' '10/10/2021 17:22' '10/10/2021 17:23'
 '10/10/2021 17:24' '10/10/2021 17:25' '10/10/2021 17:26'
 '10/10/2021 17:27' '10/10/2021 17:28' '10/10/2021 17:29'
 '10/10/2021 17:30' '10/10/2021 17:31' '10/10/2021 17:32'
 '10/10/2021 17:33' '10/10/2021 17:34' '10/10/2021 17:35'
 '10/10/2021 17:36' '10/10/2021 17:37' '10/10/2021 17:38'
 '10/10/2021 17:39' '10/10/2021 17:40' '10/10/2021 17:41'
 '10/10/2021 17:42' '10/10/2021 17:43' '10/10/2021 17:44'
 '10/10/2021 17:45' '10/10/2021 17:46' '10/10/2021 17:47'
 '10/10/2021 17:48' '10/10/2021 17:49' '10/10/2021 17:50'
 '10/10/2021 17:51' '10/10/2021 17:52' '10/10/2021 17:53'
 '10/10/2021 17:54' '10/10/2021 17:55' '10/10/2021 17:56'
 '10/10/2021 17:57' '10/10/2021 17:58' '10/10/2021 17:59'
 '10/10/2021 18:00' '10/10/2021 18:01' '10/10/2021 18:02'
 '10/10/2021 18:03' '10/10/2021 18:04' '10/10/2021 18:05'
 '10/10/2021 18:06' '10/10/2021 18:07' '10/10/2021 18:08'
 '10/10/2021 18:09' '10/10/2021 18:10' '10/10/2021 18:11'
 '10/10/2021 18:12' '10/10/2021 18:13' '10/10/2021 18:14'
 '10/10/2021 18:15' '10/10/2021 18:16' '10/10/2021 18:17'
 '10/10/2021 18:18' '10/10/2021 18:19' '10/10/2021 18:20'
 '10/10/2021 18:21' '10/10/2021 18:22' '10/10/2021 18:23'
 '10/10/2021 18:24' '10/10/2021 18:25' '10/10/2021 18:26'
 '10/10/2021 18:27' '10/10/2021 18:28' '10/10/2021 18:29'
 '10/10/2021 18:30' '10/10/2021 18:31' '10/10/2021 18:32'
 '10/10/2021 18:33' '10/10/2021 18:34' '10/10/2021 18:35'
 '10/10/2021 18:36' '10/10/2021 18:37' '10/10/2021 18:38'
 '10/10/2021 18:39' '10/10/2021 18:40' '10/10/2021 18:41'
 '10/10/2021 18:46' '10/10/2021 18:47' '10/10/2021 18:52'
 '10/10/2021 18:53' '10/10/2021 18:54' '10/10/2021 18:55'
 '10/10/2021 18:56' '10/10/2021 18:57' '10/10/2021 18:58'
 '10/10/2021 18:59' '10/10/2021 19:00' '10/10/2021 19:01'
 '10/10/2021 19:02' '10/10/2021 19:03' '10/10/2021 19:04'
 '10/10/2021 19:05' '10/10/2021 19:06' '10/10/2021 19:07'
 '10/10/2021 19:08' '10/10/2021 19:09' '10/10/2021 19:10'
 '10/10/2021 19:11' '10/10/2021 19:12' '10/10/2021 19:13'
 '10/10/2021 19:14' '10/10/2021 19:15' '10/10/2021 19:16'
 '10/10/2021 19:17' '10/10/2021 19:18' '10/10/2021 19:19'
 '10/10/2021 19:20' '10/10/2021 20:41' '10/10/2021 20:42'
 '10/10/2021 20:43' '10/10/2021 20:44' '10/10/2021 20:45'
 '10/10/2021 20:46' '10/10/2021 20:47' '10/10/2021 20:48'
 '10/10/2021 20:49' '10/10/2021 20:50' '10/10/2021 20:51'
 '10/10/2021 20:52' '10/10/2021 20:53' '10/10/2021 20:54'
 '10/10/2021 20:55' '10/10/2021 20:56' '10/10/2021 20:57'
 '10/10/2021 20:58' '10/10/2021 20:59' '10/10/2021 21:00'
 '10/10/2021 21:01' '10/10/2021 21:02' '10/10/2021 21:03'
 '10/10/2021 21:04' '10/10/2021 21:05' '10/10/2021 21:06'
 '10/10/2021 21:07' '10/10/2021 21:08' '10/10/2021 21:09'
 '10/10/2021 21:10' '10/10/2021 21:11' '10/10/2021 21:12'
 '10/10/2021 21:13' '10/10/2021 21:14' '10/10/2021 21:15'
 '10/10/2021 21:16' '10/10/2021 21:17' '10/10/2021 21:18'
 '10/10/2021 21:19' '10/10/2021 21:20' '10/10/2021 21:21'
 '10/10/2021 21:22' '10/10/2021 21:23' '10/10/2021 21:24'
 '10/10/2021 21:25' '10/10/2021 21:26' '10/10/2021 21:27'
 '10/10/2021 21:28' '10/10/2021 21:29' '10/10/2021 21:30'
 '10/10/2021 21:31' '10/10/2021 21:32' '10/10/2021 21:33'
 '10/10/2021 21:34' '10/10/2021 21:35' '10/10/2021 21:36'
 '10/10/2021 21:37' '10/10/2021 21:38' '10/10/2021 21:39'
 '10/10/2021 21:40' '10/10/2021 21:41' '10/10/2021 21:42'
 '10/10/2021 21:43' '10/10/2021 21:44' '10/10/2021 21:45'
 '10/10/2021 21:46' '10/10/2021 21:47' '10/10/2021 21:48'
 '10/10/2021 21:49' '10/10/2021 21:50' '10/10/2021 21:51'
 '10/10/2021 21:52' '10/10/2021 21:53' '10/10/2021 21:54'
 '10/10/2021 21:55' '10/10/2021 21:56' '10/10/2021 21:57'
 '10/10/2021 21:58' '10/10/2021 21:59' '10/10/2021 22:00'
 '10/10/2021 22:01' '10/10/2021 22:02' '10/10/2021 22:03'
 '10/10/2021 22:04' '10/10/2021 22:05' '10/10/2021 22:06'
 '10/10/2021 22:07' '10/10/2021 22:08' '10/10/2021 22:09'
 '10/10/2021 22:10' '10/10/2021 22:11' '10/10/2021 22:12'
 '10/10/2021 22:13' '10/10/2021 22:14' '10/10/2021 22:15'
 '10/10/2021 22:16' '10/10/2021 22:17' '10/10/2021 22:18'
 '10/10/2021 22:19' '10/10/2021 22:20' '10/10/2021 22:21'
 '10/10/2021 22:22' '10/10/2021 22:23' '10/10/2021 22:24'
 '10/10/2021 22:25' '10/10/2021 22:26' '10/10/2021 22:27'
 '10/10/2021 22:28' '10/10/2021 22:29' '10/10/2021 22:30'
 '10/10/2021 22:31' '10/10/2021 22:32' '10/10/2021 22:47'
 '10/10/2021 22:48']
Segment 3:  ['2022-01-21 13:31:04' '2022-01-21 13:31:06' '2022-01-21 13:31:10' ...
 '2022-01-25 14:21:20' '2022-01-25 14:21:23' '2022-01-25 14:21:25']

C:\Users\Moiz\AppData\Local\Temp\ipykernel_7680\154980012.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_seg2 = df_seg2.groupby('time_stamp').apply(generate_interval)

         bulk_id  car_reg_no  vehicle_speed  heading  altitude  \
2462639  2462640       113.0            0.0      0.0       0.0
2462640  2462641       113.0           14.0      0.0       0.0
2462641  2462642       113.0            7.0      0.0       0.0
2462642  2462643       113.0           11.0      0.0       0.0
2462643  2462644       113.0           11.0      0.0       0.0
2462644  2462645       113.0           16.0      0.0       0.0
2462645  2462646       113.0           18.0      0.0       0.0
2462646  2462647       113.0           23.0      0.0       0.0
2462647  2462648       113.0           29.0      0.0       0.0
2462648  2462649       113.0           35.0      0.0       0.0

        o_s2_b2_voltage o_s1_current calculated_engine_load  engine_rpm  \
2462639               0            0                26.6667      1332.0
2462640               0            0                26.6667      1332.0
2462641           0.035            0                76.0784      1585.0
2462642           0.055            0                54.5098      1205.0
2462643           0.095            0                 72.549      1675.0
2462644           0.835            0                88.6274      1305.0
2462645            0.82            0                 94.902      1971.0
2462646             0.8            0                95.2941      2071.0
2462647             0.8            0                95.2941      1992.0
2462648            0.76            0                95.6863      2075.0

         spark_advance  ... mass_air_flow_rate absolute_barometric_pressure  \
2462639        63.5294  ...                NaN                          NaN
2462640        63.5294  ...               2.10                           99
2462641        64.3137  ...               7.65                           99
2462642        48.2353  ...               9.50                           99
2462643        63.5294  ...              11.14                          100
2462644        54.5098  ...               7.98                           99
2462645        54.5098  ...              14.46                          100
2462646        54.5098  ...              16.70                           99
2462647        54.1176  ...              17.45                           99
2462648        53.7255  ...              17.45                          100

        engine_coolant_temperature  intake_air_temperature  \
2462639                        0.0                     0.0
2462640                       92.0                    60.0
2462641                       91.0                    59.0
2462642                       91.0                    59.0
2462643                       91.0                    59.0
2462644                       91.0                    59.0
2462645                       91.0                    59.0
2462646                       91.0                    59.0
2462647                       91.0                    58.0
2462648                       91.0                    58.0

        catalyst_temperature_b1_s1 catalyst_temperature_b1_s2  \
2462639                        0.0                        0.0
2462640                        0.0                        0.0
2462641                        0.0                        0.0
2462642                        0.0                        0.0
2462643                        0.0                        0.0
2462644                        0.0                        0.0
2462645                        0.0                        0.0
2462646                        0.0                        0.0
2462647                        0.0                        0.0
2462648                        0.0                        0.0

        ambient_air_temperature          time_stamp latitude  longitude
2462639                     0.0 2021-10-10 10:00:01        0          0
2462640                    35.0 2021-10-10 10:00:03        0          0
2462641                    35.0 2021-10-10 10:00:05        0          0
2462642                    35.0 2021-10-10 10:00:07        0          0
2462643                    35.0 2021-10-10 10:00:09        0          0
2462644                    35.0 2021-10-10 10:00:11        0          0
2462645                    35.0 2021-10-10 10:00:13        0          0
2462646                    35.0 2021-10-10 10:00:15        0          0
2462647                    35.0 2021-10-10 10:00:17        0          0
2462648                    35.0 2021-10-10 10:00:19        0          0

[10 rows x 31 columns]

Removing null value other than engine off values

In [8]:
df['latitude'] = df['latitude'].fillna(0).astype('float')
df['longitude'] = df['longitude'].fillna(0).astype('float')

Correcting column data types

In [9]:
df['o_s2_b2_voltage'] = df['o_s2_b2_voltage'].astype('float')
df['o_s1_current'] = df['o_s1_current'].astype('float')
df['calculated_engine_load'] = df['calculated_engine_load'].astype('float')
df['absolute_load_value'] = df['absolute_load_value'].astype('float')
df['throttle_position'] = df['throttle_position'].astype('float')
df['relative_throttle_position'] = df['relative_throttle_position'].astype('float')
df['ap_pos_d'] = df['ap_pos_d'].astype('float')
df['ap_pos_e'] = df['ap_pos_e'].astype('float')
df['commanded_evaporative_purge'] = df['commanded_evaporative_purge'].astype('float')
df['short_term_fuel_trim_b1'] = df['short_term_fuel_trim_b1'].astype('float')
df['absolute_barometric_pressure'] = df['absolute_barometric_pressure'].astype('float')

Removing remaining null values

In [10]:
df.fillna(df[df!=0].mean(),inplace=True) #replacing null values with mean value

print(df['o_s1_current'].unique()) #all zeros
print(df['catalyst_temperature_b1_s1'].unique()) #all zeros
print(df['catalyst_temperature_b1_s2'].unique()) #all zeros

# #dropping the columns
df = df.drop(['o_s1_current','catalyst_temperature_b1_s1','catalyst_temperature_b1_s2'], axis=1)

print('\nCleaned Data:')
print(df.isna().sum())
print('No. of rows:',len(df))

[ 0. nan]
[ 0. nan]
[ 0. nan]

Cleaned Data:
bulk_id                               0
car_reg_no                            0
vehicle_speed                         0
heading                               0
altitude                              0
o_s2_b2_voltage                       0
calculated_engine_load                0
engine_rpm                            0
spark_advance                         0
absolute_load_value                   0
throttle_position                     0
relative_throttle_position            0
absolute_throttle_position            0
ap_pos_d                              0
ap_pos_e                              0
commanded_evaporative_purge           0
o_s1_b1_fuel_air_equivalence_ratio    0
short_term_fuel_trim_b1               0
long_term_fuel_trim_b1                0
intake_manifold_absolute_pressure     0
mass_air_flow_rate                    0
absolute_barometric_pressure          0
engine_coolant_temperature            0
intake_air_temperature                0
ambient_air_temperature               0
time_stamp                            0
latitude                              0
longitude                             0
dtype: int64
No. of rows: 951462

Filtering for 2021 data only

In [11]:
df = df.sort_values(by='time_stamp')
start = pd.to_datetime('2021-01-01 00:00:00')
end = pd.to_datetime('2021-12-31 23:59:59')

df = df[(df['time_stamp'] >= start) & (df['time_stamp']<=end)]

print(df['time_stamp'].iloc[0])
print(df['time_stamp'].iloc[-1])
print('No. of rows:',len(df))

2021-02-05 11:05:07
2021-12-31 20:55:16
No. of rows: 906013

Checking for duplicate values

In [12]:
duplicate = {}
for column in df.columns:
    duplicate[column] = df[column].duplicated()

duplicate = pd.DataFrame(duplicate)
print('No. of duplicate values in each column')
print(duplicate.sum())

No. of duplicate values in each column
bulk_id                                    0
car_reg_no                            906012
vehicle_speed                         905878
heading                               894697
altitude                              895312
o_s2_b2_voltage                       905949
calculated_engine_load                905802
engine_rpm                            903393
spark_advance                         905862
absolute_load_value                   905852
throttle_position                     905857
relative_throttle_position            905875
absolute_throttle_position            905856
ap_pos_d                              905907
ap_pos_e                              905897
commanded_evaporative_purge           905766
o_s1_b1_fuel_air_equivalence_ratio    905438
short_term_fuel_trim_b1               905953
long_term_fuel_trim_b1                905982
intake_manifold_absolute_pressure     906008
mass_air_flow_rate                    903646
absolute_barometric_pressure          906007
engine_coolant_temperature            905928
intake_air_temperature                905950
ambient_air_temperature               905973
time_stamp                            275084
latitude                              896748
longitude                             899292
dtype: int64

Analyzing duplicated time stamp data

In [13]:
df[df.duplicated(subset=['time_stamp'], keep=False)].iloc[3000:3010] #checking for random bunch of values
#the duplicated entries are duplicate for all columns except bulk_id we can ignore bulk_id as it is just used for indexing

,bulk_id,car_reg_no,vehicle_speed,heading,altitude,o_s2_b2_voltage,calculated_engine_load,engine_rpm,spark_advance,absolute_load_value,...,long_term_fuel_trim_b1,intake_manifold_absolute_pressure,mass_air_flow_rate,absolute_barometric_pressure,engine_coolant_temperature,intake_air_temperature,ambient_air_temperature,time_stamp,latitude,longitude
574270,574271,113.0,3.0,240.514435,-22.4856,0.135,57.2549,832.0,52.9412,33.0,...,1.5625,32.0,3.51,100.0,91.0,50.0,35.0,2021-04-06 14:10:39,24.909687,67.079369
586219,586220,113.0,3.0,240.514435,-22.4856,0.135,57.2549,832.0,52.9412,33.0,...,1.5625,32.0,3.51,100.0,91.0,50.0,35.0,2021-04-06 14:10:39,24.909687,67.079369
574272,574273,113.0,5.0,240.514435,-22.4856,0.135,60.0000,1017.0,60.7843,38.0,...,1.5625,32.0,3.64,100.0,91.0,50.0,35.0,2021-04-06 14:10:41,24.909687,67.079369
586223,586224,113.0,5.0,240.514435,-22.4856,0.135,60.0000,1017.0,60.7843,38.0,...,1.5625,32.0,3.64,100.0,91.0,50.0,35.0,2021-04-06 14:10:41,24.909687,67.079369
586227,586228,113.0,6.0,240.514435,-22.4856,0.135,54.9020,1139.0,53.3333,22.0,...,1.5625,32.0,3.59,100.0,91.0,50.0,35.0,2021-04-06 14:10:43,24.909687,67.079369
574274,574275,113.0,6.0,240.514435,-22.4856,0.135,54.9020,1139.0,53.3333,22.0,...,1.5625,32.0,3.59,100.0,91.0,50.0,35.0,2021-04-06 14:10:43,24.909687,67.079369
586231,586232,113.0,8.0,240.514435,-22.4856,0.250,61.1765,1345.0,69.4118,33.0,...,5.4688,32.0,5.82,100.0,91.0,50.0,35.0,2021-04-06 14:10:45,24.909687,67.079369
574276,574277,113.0,8.0,240.514435,-22.4856,0.250,61.1765,1345.0,69.4118,33.0,...,5.4688,32.0,5.82,100.0,91.0,50.0,35.0,2021-04-06 14:10:45,24.909687,67.079369
586235,586236,113.0,9.0,240.514435,-22.4856,0.855,40.3922,1170.0,54.1176,23.0,...,3.9063,32.0,3.65,100.0,91.0,50.0,35.0,2021-04-06 14:10:47,24.909687,67.079369
574278,574279,113.0,9.0,240.514435,-22.4856,0.855,40.3922,1170.0,54.1176,23.0,...,3.9063,32.0,3.65,100.0,91.0,50.0,35.0,2021-04-06 14:10:47,24.909687,67.079369

Removing duplicated entries

In [14]:
df = df.drop_duplicates(subset=['time_stamp'])
print('No. of rows after deleting duplicate entries:',len(df))

No. of rows after deleting duplicate entries: 630929

Exporting the cleaned data frame

In [77]:
df.to_csv('cleaned_data_2021.csv')